<h1>Students Details Application...</h1>
	<div id='studentTable'></div>
	<div id='addEdit'>
		<div id='addEditStudentView'></div><br>
	</div>


<h3>Add/Edit Students Details</h3>
Enter Name : <input type="text" name="name" id="name" placeholder="Enter Name" required><br><br>
Enter Roll Number : <input type="text" name="rollNumber" id="rollNumber" placeholder="Enter Roll Number" required><br><br>
Enter Address : <textarea name="address"></textarea><br><br>
<button id='addEditButton'>Add/Edit Student</button>
<button id='totalCharts'>View Total Charts</button>